public/images/*
!public/images/logo.webp
!public/images/bip.webp
!public/images/bip.png
!public/images/cert1.jpg
!public/images/cert2.jpg
!public/images/cert3.jpg
!public/images/cert4.jpg
!public/images/cert5.jpg
!public/images/cert6.jpg
!public/images/cert7.jpg
!public/images/cert8.jpg
!public/images/cert9.jpg
!public/images/cert10.jpg
!public/images/cert11.jpg
!public/images/cert12.jpg
!public/images/cert13.jpg
!public/images/cert14.jpg
!public/images/cert15.jpg
!public/images/cert16.jpg
!public/images/cert17.jpg
!public/images/cert18.jpg
!public/images/erasmus.webp
!public/images/erasmus.png
!public/images/gold-medium-school.webp
!public/images/gold-medium-school.png
!public/images/logo-cki.webp
!public/images/logo-cki.png
!public/images/logo-etwin.webp
!public/images/logo-etwin.png
!public/images/logo-us.webp
!public/images/logo-us.png
!public/images/logo-zsb-project.webp
!public/images/logo-zsb-project.png
!public/images/rbkjobplatform.webp
!public/images/rbkjobplatform.png
!public/images/silesian-technical-university.webp
!public/images/silesian-technical-university.png
!public/images/wst-logo.webp
!public/images/wst-logo.png