[submodule "website"]
	path = website
	url = https://github.com/ZSBRybnik/website
[submodule "server-go"]
	path = server-go
	url = https://github.com/ZSBRybnik/server-go
[submodule "cdn-rust"]
	path = cdn-rust
	url = https://github.com/ZSBRybnik/cdn-rust
[submodule "cdn-go"]
	path = cdn-go
	url = https://github.com/ZSBRybnik/cdn-go
